@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
--Red: hsl(0, 78%, 62%);
--Cyan: hsl(180, 62%, 55%);
--Orange: hsl(34, 97%, 64%);
--Blue: hsl(212, 86%, 64%);
--Very-Dark-Blue: hsl(234, 12%, 34%);
--Grayish-Blue: hsl(229, 6%, 66%);
--Very-Light-Gray: hsl(0, 0%, 98%);

}



body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Very-Light-Gray);
}

main {
    font-size: 15px;
    font-family: "Poppins";
    color: var(--Very-Dark-Blue);
    width: 375px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 95px;
    margin-bottom: 75px;
    
    
}

.cards-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}


.card-title {
font-weight: 200;
font-size: 1.8em;

}
.card-subtitle, .card-container-subtitle {
    font-weight: 600;
    color: var(--Very-Dark-Blue);
    margin-bottom: 10px;
}
.card-text, .card-container  {
    font-size: 1em;
    color: var(--Grayish-Blue);
    margin: 30px;
    
}
.text-card {
    margin-bottom: auto;
}


.card-container {
    width: 312px;
    height: 223px;
    border-radius: 5px 5px 10px 10px;
    box-shadow: 0px 5px 15px rgba(0,0, 0, 0.1), 0px 10px 30px rgba(0,0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 22px;
    
  
}
.border-cyan {
    border-top: 4px solid var(--Cyan);
}

.border-red {
    border-top: 4px solid var(--Red);
}

.border-orange {
    border-top: 4px solid var(--Orange);
}

.border-blue {
    border-top: 4px solid var(--Blue);
}


.card-icon {
    align-self: flex-end;
    width: 55px;
    
}

@media screen and (min-width: 700px){
    main {
        width: 100%;
    }
    .cards-content{
        width: 530px;
    }
    .card-title {
        font-size: 2.5em;
    }
    
    .card-subtitle {
        font-size: 2.4em;
    }
     
    .container-cards{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
         gap: 20px;                    
    }
    .card-container{
        margin: 0;
    }
    .border-orange{
        grid-column: 2;
        grid-row: 2;
    }
    .border-red{
        grid-column: 2;
        grid-row: 1;
    }

    .border-cyan {
        grid-column: 1;
        grid-row: span 2;
        align-self: center;
    }

    .border-blue {
        grid-column: 3;
        grid-row: span 2 ;
        align-self: center;
    }

 
}